.navBar{
    border-radius: 8px;
}

.divContainer {
  width: 100%;
}

.navBar:hover{
    background-color: white;
  }

  .searchButton{
    height: 40px;
    background-color: rgba(8, 38, 46, 0.644);
    color: rgb(236, 230, 230);
    border-radius: 8px;
    width: 100px;
    font-size:medium;
    border-width: 1px;
    cursor: pointer;
    margin-top:3px;

  }

  .searchButton:hover{
    border-width: 1px;
    background-color: white; 
    color: rgba(74, 59, 207, 0.644);
  }